@tailwind base;
@tailwind components;
@tailwind utilities;

.p-datepicker table td {
  padding: 0;
}
.p-datepicker table td > span {
  width: 2rem;
  height: 2rem;
}

.p-datepicker table th {
  padding: 0;
}

.p-datepicker {
  padding: 0;
}

/* Carousel component adjustment */

@media (max-width: 640px) {
  .p-carousel .p-carousel-content .p-carousel-prev {
    position: absolute;
    left: 0;
  }

  .p-carousel .p-carousel-content .p-carousel-next {
    position: absolute;
    right: 0;
  }
}
